openapi: 3.1.0
info:
  title: Access Layer OAuth Administration API
  version: 1.2.0-candidate
  description: >-
    Platform-admin-only control surface for legacy-bridge and native human
    OAuth entitlement administration. Protocol enablement remains separate.
servers:
  - url: https://access-layer.unguess-internal.net
security:
  - adminBearer: []
  - adminCookie: []
x-response-cache-control: no-store
paths:
  /v1/admin/oauth:
    get:
      operationId: listOAuthAdministrationState
      summary: List OAuth registrations and public lifecycle metadata
      responses:
        '200': {description: Secret-free OAuth administration state}
        '403': {$ref: '#/components/responses/Error'}
  /v1/admin/oauth/legacy-tools:
    get:
      operationId: listOAuthEligibleLegacyTools
      summary: List active legacy tools with exact registered permission keys, without secrets
      responses:
        '200': {description: Bounded tool selector data}
  /v1/admin/oauth/users:
    get:
      operationId: searchOAuthGrantUsers
      summary: Search existing users by email or display name
      parameters:
        - {in: query, name: q, required: true, schema: {type: string, minLength: 2, maxLength: 100}}
      responses:
        '200': {description: At most 25 users with id, email, display_name, status and last_seen_at only}
  /v1/admin/oauth/native-grants:
    get:
      operationId: listOAuthNativeHumanGrants
      summary: List at most 100 grants per page for one native resource
      parameters:
        - {in: query, name: resource_id, required: true, schema: {type: string, format: uuid}}
        - {in: query, name: q, schema: {type: string, maxLength: 100}}
        - {in: query, name: scope, schema: {type: string, maxLength: 200}}
        - {in: query, name: status, schema: {enum: [active, expired, revoked, pending_user_link]}}
        - {in: query, name: effective, schema: {enum: ['true', 'false']}}
        - {in: query, name: offset, schema: {type: integer, minimum: 0, maximum: 10000}}
      responses:
        '200': {description: Linked grants and current display-only effective state}
    post:
      operationId: createOAuthNativeHumanGrants
      summary: Atomically grant exact registered scopes to one existing active user
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NativeGrantCreate'}
      responses:
        '200': {description: One new normalized grant row per requested scope}
        '400': {$ref: '#/components/responses/Error'}
  /v1/admin/oauth/native-grants/{id}/revoke:
    post:
      operationId: revokeOAuthNativeHumanGrant
      parameters: [{$ref: '#/components/parameters/Id'}]
      responses:
        '200': {description: Grant marked revoked with actor and timestamp}
        '400': {$ref: '#/components/responses/Error'}
  /v1/admin/oauth/native-grants/bulk/preview:
    post:
      operationId: previewBulkOAuthNativeGrants
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/NativeGrantBulk'}}}}
      responses: {'200': {description: Per user/scope operation and bounded summary without writes}}
  /v1/admin/oauth/native-grants/bulk/commit:
    post:
      operationId: commitBulkOAuthNativeGrants
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/NativeGrantBulk'}}}}
      responses: {'200': {description: Revalidated atomic grants and skips; no credentials}}
  /v1/admin/oauth/native-grants/bulk-revoke/preview:
    post:
      operationId: previewBulkOAuthNativeRevoke
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/NativeGrantBulkRevoke'}}}}
      responses: {'200': {description: Exact grant rows and revoke or terminal-skip operations}}
  /v1/admin/oauth/native-grants/bulk-revoke/commit:
    post:
      operationId: commitBulkOAuthNativeRevoke
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/NativeGrantBulkRevoke'}}}}
      responses: {'200': {description: Revalidated atomic exact-ID revocations}}
  /v1/admin/oauth/scopes:
    post:
      operationId: createOAuthScope
      summary: Create one canonical OAuth scope
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ScopeCreate'}
      responses:
        '200': {description: Scope created}
        '400': {$ref: '#/components/responses/Error'}
        '403': {$ref: '#/components/responses/Error'}
  /v1/admin/oauth/scopes/{id}:
    patch:
      operationId: updateOAuthScope
      summary: Update scope description or active/disabled status
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                description: {type: string, minLength: 1}
                status: {enum: [active, disabled]}
      responses:
        '200': {description: Scope updated}
        '400': {$ref: '#/components/responses/Error'}
  /v1/admin/oauth/scopes/bulk/preview:
    post:
      operationId: previewBulkOAuthScopes
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ScopeBulk'}}}}
      responses: {'200': {description: Row results with create, skip, update, reactivate and error counts; no writes}}
  /v1/admin/oauth/scopes/bulk/commit:
    post:
      operationId: commitBulkOAuthScopes
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ScopeBulk'}}}}
      responses: {'200': {description: Revalidated transactional catalogue mutation with audit}}
  /v1/admin/oauth/scopes/bulk-status/preview:
    post:
      operationId: previewBulkOAuthScopeStatus
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ScopeBulkStatus'}}}}
      responses: {'200': {description: Current statuses and affected resource/client counts}}
  /v1/admin/oauth/scopes/bulk-status/commit:
    post:
      operationId: commitBulkOAuthScopeStatus
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ScopeBulkStatus'}}}}
      responses: {'200': {description: Revalidated transactional status changes}}
  /v1/admin/oauth/resources:
    post:
      operationId: createOAuthResource
      summary: Create a native or legacy-bridge resource and first introspection credential
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ResourceCreate'}
      responses:
        '200':
          description: Resource created; resource credential plaintext appears only here
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ResourceCreateResponse'}
        '400': {$ref: '#/components/responses/Error'}
  /v1/admin/oauth/resources/{id}/status:
    patch:
      operationId: updateOAuthResourceStatus
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/RegistrationStatus'}
      responses:
        '200': {description: Resource status updated}
  /v1/admin/oauth/resources/{id}/entitlement-binding:
    put:
      operationId: replaceOAuthResourceEntitlementBinding
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [legacy_tool_slug, status]
              properties:
                legacy_tool_slug: {type: string, pattern: '^[a-z0-9][a-z0-9-]{1,62}[a-z0-9]$'}
                status: {enum: [active, disabled]}
      responses:
        '200': {description: Temporary entitlement-only binding updated}
  /v1/admin/oauth/resources/{resourceId}/scopes/{scopeId}:
    put:
      operationId: putOAuthResourceScopeMapping
      parameters:
        - {in: path, name: resourceId, required: true, schema: {type: string, format: uuid}}
        - {in: path, name: scopeId, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [legacy_permission_key, status]
              properties:
                legacy_permission_key: {type: [string, 'null'], description: 'Null is required for native resource scopes; an exact registered key is required for legacy_bridge.'}
                status: {enum: [active, disabled]}
      responses:
        '200': {description: Explicit resource-scope mapping updated}
  /v1/admin/oauth/resources/{id}/scopes/bulk/preview:
    post:
      operationId: previewBulkNativeResourceScopes
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ResourceScopeBulk'}}}}
      responses: {'200': {description: Explicit register/activate, disable, no-change or error plan}}
  /v1/admin/oauth/resources/{id}/scopes/bulk/commit:
    post:
      operationId: commitBulkNativeResourceScopes
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ResourceScopeBulk'}}}}
      responses: {'200': {description: Revalidated atomic native registration changes with null legacy mapping}}
  /v1/admin/oauth/clients:
    post:
      operationId: createOAuthClient
      summary: Create one controlled confidential first-party client
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ClientCreate'}
      responses:
        '200':
          description: Client created; client secret plaintext appears only here
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ClientCreateResponse'}
        '400': {$ref: '#/components/responses/Error'}
  /v1/admin/oauth/clients/{id}/status:
    patch:
      operationId: updateOAuthClientStatus
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/RegistrationStatus'}
      responses:
        '200': {description: Client status updated}
  /v1/admin/oauth/clients/{id}/redirect-uris:
    put:
      operationId: replaceOAuthClientRedirectUris
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [redirect_uris]
              properties:
                redirect_uris:
                  type: array
                  minItems: 1
                  uniqueItems: true
                  items: {type: string, format: uri}
      responses:
        '200': {description: Exact redirect URI set replaced}
  /v1/admin/oauth/clients/{id}/redirect-uris/preview:
    post:
      operationId: previewOAuthClientRedirectReplacement
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RedirectReplacement'}}}}
      responses: {'200': {description: Current exact URIs and add/remove/unchanged diff}}
  /v1/admin/oauth/clients/{id}/redirect-uris/commit:
    post:
      operationId: commitOAuthClientRedirectReplacement
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RedirectReplacementCommit'}}}}
      responses: {'200': {description: Transactional replacement if current set still matches preview}}
  /v1/admin/oauth/clients/{id}/allowances:
    put:
      operationId: replaceOAuthClientAllowances
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [allowances]
              properties:
                allowances:
                  type: array
                  minItems: 1
                  uniqueItems: true
                  items: {$ref: '#/components/schemas/Allowance'}
      responses:
        '200': {description: Explicit client-resource-scope set replaced}
  /v1/admin/oauth/clients/{id}/allowances/preview:
    post:
      operationId: previewOAuthClientAllowanceReplacement
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/AllowanceReplacement'}}}}
      responses: {'200': {description: Current exact allowances and add/remove/unchanged diff}}
  /v1/admin/oauth/clients/{id}/allowances/commit:
    post:
      operationId: commitOAuthClientAllowanceReplacement
      parameters: [{$ref: '#/components/parameters/Id'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/AllowanceReplacementCommit'}}}}
      responses: {'200': {description: Transactional replacement if current set still matches preview}}
  /v1/admin/oauth/clients/{id}/credentials/rotate:
    post:
      operationId: rotateOAuthClientCredential
      parameters: [{$ref: '#/components/parameters/Id'}]
      responses:
        '200': {description: Previous active credentials retired; new plaintext secret returned once}
  /v1/admin/oauth/resources/{id}/credentials/rotate:
    post:
      operationId: rotateOAuthResourceCredential
      parameters: [{$ref: '#/components/parameters/Id'}]
      responses:
        '200': {description: Previous active credentials retired; new credential ID and plaintext secret returned once}
  /v1/admin/oauth/clients/credentials/{credentialId}/retire:
    post:
      operationId: retireOAuthClientCredential
      parameters: [{$ref: '#/components/parameters/CredentialId'}]
      responses:
        '200': {description: Credential retired}
  /v1/admin/oauth/resources/credentials/{credentialId}/retire:
    post:
      operationId: retireOAuthResourceCredential
      parameters: [{$ref: '#/components/parameters/CredentialId'}]
      responses:
        '200': {description: Credential retired}
  /v1/admin/oauth/signing-keys:
    post:
      operationId: generateOAuthSigningKey
      summary: Generate a staged RSA key inside OAUTH_SIGNING_KEY_ROOT
      description: The private key and its protected reference are never returned.
      responses:
        '200': {description: Staged public key metadata}
  /v1/admin/oauth/signing-keys/{id}/publish:
    post:
      operationId: publishOAuthSigningKey
      parameters: [{$ref: '#/components/parameters/Id'}]
      responses:
        '200': {description: Published with activation eligibility no earlier than 300 seconds}
  /v1/admin/oauth/signing-keys/{id}/activate:
    post:
      operationId: activateOAuthSigningKey
      parameters: [{$ref: '#/components/parameters/Id'}]
      responses:
        '200': {description: Activated only after publication lead is satisfied}
  /v1/admin/oauth/signing-keys/{id}/retire:
    post:
      operationId: retireOAuthSigningKey
      parameters: [{$ref: '#/components/parameters/Id'}]
      responses:
        '200': {description: Retirement scheduled or completed with verifier grace preserved}
  /v1/admin/oauth/signing-keys/{id}/disable:
    post:
      operationId: disableUnusedOAuthSigningKey
      parameters: [{$ref: '#/components/parameters/Id'}]
      responses:
        '200': {description: Unused staged, published or never-used active key disabled}
components:
  securitySchemes:
    adminBearer: {type: http, scheme: bearer, bearerFormat: JWT, description: Active access-admin platform_admin grant with the operation's admin:oauth permission}
    adminCookie: {type: apiKey, in: cookie, name: access_layer_admin_session, description: Default Admin session cookie name; mutations also require an exact same-origin Origin header}
  parameters:
    Id: {in: path, name: id, required: true, schema: {type: string, format: uuid}}
    CredentialId: {in: path, name: credentialId, required: true, schema: {type: string, format: uuid}}
  responses:
    Error:
      description: Existing Access Layer admin error envelope
  schemas:
    RegistrationStatus:
      type: object
      additionalProperties: false
      required: [status]
      properties: {status: {enum: [draft, active, disabled]}}
    ScopeCreate:
      type: object
      additionalProperties: false
      required: [scope, description]
      properties:
        scope: {type: string, pattern: '^[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}$'}
        description: {type: string, minLength: 1}
    ScopeBulk:
      type: object
      additionalProperties: false
      required: [rows]
      properties:
        mode: {const: create_missing, default: create_missing}
        update_descriptions: {type: boolean, default: false}
        reactivate_disabled: {type: boolean, default: false}
        rows:
          type: array
          minItems: 1
          maxItems: 200
          items:
            type: object
            additionalProperties: false
            required: [scope, description]
            properties:
              row: {type: integer, minimum: 1, description: Optional original pasted line number}
              scope: {type: string, maxLength: 200}
              description: {type: string, maxLength: 2000}
    ScopeBulkStatus:
      type: object
      additionalProperties: false
      required: [scopes, status]
      properties:
        scopes: {type: array, minItems: 1, maxItems: 200, uniqueItems: true, items: {type: string}}
        status: {enum: [active, disabled]}
    ResourceScopeBulk:
      type: object
      additionalProperties: false
      required: [operations]
      properties:
        operations:
          type: array
          minItems: 1
          maxItems: 200
          items:
            type: object
            additionalProperties: false
            required: [scope, action]
            properties:
              scope: {type: string}
              action: {enum: [activate, disable]}
    ScopeMapping:
      type: object
      additionalProperties: false
      required: [scope, legacy_permission_key]
      properties:
        scope: {type: string}
        legacy_permission_key: {type: string}
    Allowance:
      type: object
      additionalProperties: false
      required: [resource_id, scope]
      properties:
        resource_id: {type: string, format: uri}
        scope: {type: string}
    AllowanceState:
      type: object
      additionalProperties: false
      required: [resource_id, scope, status]
      properties:
        resource_id: {type: string, format: uri}
        scope: {type: string}
        status: {enum: [active, disabled]}
    ResourceCreate:
      oneOf:
        - {$ref: '#/components/schemas/NativeResourceCreate'}
        - {$ref: '#/components/schemas/LegacyResourceCreate'}
      unevaluatedProperties: false
      description: Omitted entitlement_mode is accepted only with a complete historical legacy payload.
    ResourceCommon:
      type: object
      required: [resource_id, display_name, owner_team, status, protected_resource_metadata_url]
      properties:
        resource_id: {type: string, format: uri}
        display_name: {type: string, minLength: 1}
        owner_team: {type: string, minLength: 1}
        owner_contact: {type: [string, 'null']}
        status: {enum: [draft, active, disabled]}
        protected_resource_metadata_url: {type: string, format: uri}
    NativeResourceCreate:
      allOf:
        - {$ref: '#/components/schemas/ResourceCommon'}
        - type: object
          required: [entitlement_mode, scopes]
          properties:
            entitlement_mode: {const: native}
            scopes: {type: array, minItems: 1, uniqueItems: true, items: {type: string}}
    LegacyResourceCreate:
      allOf:
        - {$ref: '#/components/schemas/ResourceCommon'}
        - type: object
          required: [legacy_tool_slug, scope_mappings]
          properties:
            entitlement_mode: {const: legacy_bridge}
            legacy_tool_slug: {type: string}
            scope_mappings: {type: array, minItems: 1, uniqueItems: true, items: {$ref: '#/components/schemas/ScopeMapping'}}
    NativeGrantCreate:
      type: object
      additionalProperties: false
      required: [resource_id, user_id, scopes]
      properties:
        resource_id: {type: string, format: uuid}
        user_id: {type: string, format: uuid}
        scopes: {type: array, minItems: 1, maxItems: 50, uniqueItems: true, items: {type: string}}
        valid_from: {type: string, format: date-time}
        valid_until: {type: string, format: date-time}
    NativeGrantBulk:
      type: object
      additionalProperties: false
      required: [resource_id, scopes]
      properties:
        resource_id: {type: string, format: uuid}
        user_ids: {type: array, maxItems: 100, uniqueItems: true, items: {type: string, format: uuid}}
        emails: {type: array, maxItems: 100, uniqueItems: true, items: {type: string, format: email}, description: Lookup only; never persisted as the grant principal}
        scopes: {type: array, minItems: 1, maxItems: 50, uniqueItems: true, items: {type: string}}
        valid_from: {type: string, format: date-time}
        valid_until: {type: string, format: date-time}
      description: At least one user/email; users times scopes must not exceed 1000.
    NativeGrantBulkRevoke:
      type: object
      additionalProperties: false
      required: [grant_ids]
      properties:
        grant_ids: {type: array, minItems: 1, maxItems: 200, uniqueItems: true, items: {type: string, format: uuid}}
    AllowanceReplacement:
      type: object
      additionalProperties: false
      required: [allowances]
      properties:
        allowances: {type: array, maxItems: 200, uniqueItems: true, items: {$ref: '#/components/schemas/Allowance'}}
    AllowanceReplacementCommit:
      type: object
      additionalProperties: false
      required: [allowances, expected_current]
      properties:
        allowances: {type: array, maxItems: 200, uniqueItems: true, items: {$ref: '#/components/schemas/Allowance'}}
        expected_current: {type: array, maxItems: 200, uniqueItems: true, items: {$ref: '#/components/schemas/AllowanceState'}}
    RedirectReplacement:
      type: object
      additionalProperties: false
      required: [redirect_uris]
      properties:
        redirect_uris: {type: array, minItems: 1, maxItems: 100, uniqueItems: true, items: {type: string, format: uri}}
    RedirectReplacementCommit:
      type: object
      additionalProperties: false
      required: [redirect_uris, expected_current]
      properties:
        redirect_uris: {type: array, minItems: 1, maxItems: 100, uniqueItems: true, items: {type: string, format: uri}}
        expected_current: {type: array, maxItems: 100, uniqueItems: true, items: {type: string, format: uri}}
    ClientCreate:
      type: object
      additionalProperties: false
      required: [client_id, client_name, owner_team, status, grant_types, redirect_uris, allowances]
      properties:
        client_id: {type: string}
        client_name: {type: string, minLength: 1}
        owner_team: {type: string, minLength: 1}
        owner_contact: {type: [string, 'null']}
        status: {enum: [draft, active, disabled]}
        grant_types: {type: array, uniqueItems: true, items: {enum: [authorization_code, refresh_token]}}
        redirect_uris: {type: array, minItems: 1, uniqueItems: true, items: {type: string, format: uri}}
        allowances: {type: array, minItems: 1, uniqueItems: true, items: {$ref: '#/components/schemas/Allowance'}}
    ClientCreateResponse:
      type: object
      required: [client, client_secret]
      properties:
        client: {type: object}
        client_secret: {type: string, readOnly: true, description: Returned once and never persisted as plaintext}
    ResourceCreateResponse:
      type: object
      required: [resource, resource_credential_id, resource_credential_secret]
      properties:
        resource: {type: object}
        resource_credential_id: {type: string}
        resource_credential_secret: {type: string, readOnly: true, description: Returned once and never persisted as plaintext}
