openapi: 3.1.0
info:
  title: Access Layer legacy compatibility contract
  version: 1.0.0-frozen
  description: >-
    Frozen subset used by existing tools. This document records compatibility;
    it is not permission to change the deployed legacy service.
servers:
  - url: https://access-layer.unguess-internal.net
paths:
  /v1/auth/start:
    get:
      summary: Start Google login for a registered tool
      parameters:
        - {in: query, name: tool_slug, required: true, schema: {type: string}}
        - {in: query, name: return_url, required: true, schema: {type: string, format: uri}}
        - {in: query, name: state, required: true, schema: {type: string}}
        - {in: query, name: login_hint, required: false, schema: {type: string}}
      responses:
        '302': {description: Redirect to Google or tool callback on existing session}
        '400': {$ref: '#/components/responses/Error'}
        '403': {$ref: '#/components/responses/Error'}
  /v1/auth/google/callback:
    get:
      summary: Google OAuth callback managed by Access Layer
      parameters:
        - {in: query, name: code, required: false, schema: {type: string}}
        - {in: query, name: state, required: true, schema: {type: string}}
        - {in: query, name: error, required: false, schema: {type: string}}
      responses:
        '302': {description: Redirect to the allowlisted tool callback with a one-time code or safe error}
  /v1/auth/exchange:
    post:
      summary: Exchange a one-time code for the legacy identity and token profile
      security: [{toolClientBasic: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ExchangeRequest'}
      responses:
        '200':
          description: Exchange successful
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ExchangeResponse'}
        '400': {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Error'}
        '403': {$ref: '#/components/responses/Error'}
  /v1/auth/refresh:
    post:
      summary: Rotate a refresh token and extend an active legacy session
      security: [{toolClientBasic: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/RefreshRequest'}
      responses:
        '200':
          description: Refresh successful
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ExchangeResponse'}
        '400': {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Error'}
  /v1/auth/introspect:
    post:
      summary: Introspect a legacy Access Layer token
      security: [{toolClientBasic: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/IntrospectionRequest'}
      responses:
        '200':
          description: Token activity result
          content:
            application/json:
              schema: {$ref: '#/components/schemas/IntrospectionResponse'}
  /v1/auth/logout:
    post:
      summary: Revoke a legacy session or token
      security: [{toolClientBasic: []}, {bearerAuth: []}]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id: {type: string}
                refresh_token: {type: string}
      responses:
        '204': {description: Logged out}
  /v1/.well-known/jwks.json:
    get:
      summary: Public legacy JSON Web Key Set
      responses:
        '200': {description: JWKS}
components:
  securitySchemes:
    toolClientBasic: {type: http, scheme: basic}
    bearerAuth: {type: http, scheme: bearer, bearerFormat: JWT}
  responses:
    Error:
      description: Legacy error envelope
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
  schemas:
    ExchangeRequest:
      type: object
      additionalProperties: false
      required: [code, redirect_uri]
      properties:
        code: {type: string}
        redirect_uri: {type: string, format: uri}
    RefreshRequest:
      type: object
      additionalProperties: false
      required: [refresh_token]
      properties:
        refresh_token: {type: string}
    IntrospectionRequest:
      type: object
      additionalProperties: false
      required: [token]
      properties:
        token: {type: string}
    ExchangeResponse:
      type: object
      required: [access_token, token_type, expires_in, session, user, tool, grant, correlation_id]
      properties:
        access_token: {type: string}
        token_type: {type: string, const: Bearer}
        expires_in: {type: integer}
        refresh_token: {type: string}
        session: {type: object}
        user: {type: object}
        tool: {type: object}
        grant: {type: object}
        correlation_id: {type: string}
    IntrospectionResponse:
      type: object
      required: [active]
      properties:
        active: {type: boolean}
        issuer: {type: string}
        audience: {type: string}
        expires_at: {type: string, format: date-time}
        session_id: {type: string}
        user: {type: object}
        permissions: {type: array, items: {type: string}}
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, correlation_id]
          properties:
            code: {type: string}
            message: {type: string}
            correlation_id: {type: string}
            details: {type: object}
