openapi: 3.1.0
info:
  title: Access Layer OAuth vNext P0 dark runtime contract
  version: 1.0.0-p0-step3e
  description: >-
    Frozen additive OAuth authorization-server contract implemented behind the
    default-false OAUTH_P0_ENABLED flag. The existing /v1/* contract is separate
    and unchanged. No production enablement or pilot exists. Stable RFCs are
    normative; OAuth 2.1 is only a draft-aligned profile.
servers:
  - url: https://access-layer.unguess-internal.net
security: []
paths:
  /.well-known/oauth-authorization-server:
    get:
      operationId: oauthAuthorizationServerMetadata
      summary: RFC 8414 authorization-server metadata
      responses:
        '200':
          description: P0 metadata advertising only enabled P0 capabilities
          headers:
            Cache-Control:
              required: true
              schema: {type: string, const: 'public, max-age=300'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AuthorizationServerMetadata'}
  /.well-known/oauth-protected-resource/v1:
    get:
      operationId: oauthProtectedResourceMetadataForAccessLayerV1
      summary: RFC 9728 metadata for the Access Layer v1 resource target
      responses:
        '200':
          description: Protected-resource metadata; publication does not enable OAuth runtime
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ProtectedResourceMetadata'}
  /oauth/authorize:
    get:
      operationId: oauthAuthorize
      summary: Authorize a human using Authorization Code with mandatory PKCE S256
      description: >-
        Requires one RFC 8707 resource and exact redirect matching. Access and
        refresh tokens never appear in browser URLs. Google state/nonce are an
        internal upstream transaction and remain separate from client state.
      parameters:
        - in: query
          name: response_type
          required: true
          schema: {type: string, const: code}
        - in: query
          name: client_id
          required: true
          schema: {type: string, minLength: 1}
        - in: query
          name: redirect_uri
          required: true
          schema: {type: string, format: uri}
        - in: query
          name: scope
          required: true
          schema:
            type: string
            pattern: '^[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}(?: [a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62})*$'
        - in: query
          name: state
          required: true
          schema: {type: string, minLength: 1}
        - in: query
          name: code_challenge
          required: true
          description: Unpadded base64url SHA-256 output for the ASCII code verifier.
          schema: {type: string, pattern: '^[A-Za-z0-9_-]{43}$'}
        - in: query
          name: code_challenge_method
          required: true
          schema: {type: string, const: S256}
        - in: query
          name: resource
          required: true
          description: Exactly one registered HTTPS resource identifier.
          schema: {type: string, format: uri, pattern: '^https://'}
      responses:
        '302':
          description: >-
            Exact registered redirect with code, original state and RFC 9207
            iss, or with a standard OAuth error, safe state and iss.
          headers:
            Location:
              required: true
              schema: {type: string, format: uri}
        '400':
          description: Invalid client or redirect request that cannot be redirected safely
          content:
            application/json:
              schema: {$ref: '#/components/schemas/OAuthError'}
  /oauth/token:
    post:
      operationId: oauthToken
      summary: Exchange an authorization code or rotate a refresh token
      security:
        - clientSecretBasic: []
        - {}
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - {$ref: '#/components/schemas/AuthorizationCodeTokenRequest'}
                - {$ref: '#/components/schemas/RefreshTokenRequest'}
      responses:
        '200':
          description: OAuth token response
          headers:
            Cache-Control:
              required: true
              schema: {type: string, const: no-store}
            Pragma:
              required: true
              schema: {type: string, const: no-cache}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TokenResponse'}
        '400': {$ref: '#/components/responses/OAuthError'}
        '401': {$ref: '#/components/responses/OAuthInvalidClient'}
        '503': {$ref: '#/components/responses/OAuthUnavailable'}
  /oauth/revoke:
    post:
      operationId: oauthRevoke
      summary: Revoke an OAuth token per RFC 7009
      description: >-
        Unknown and already-revoked tokens receive the same idempotent response.
        token_type_hint is advisory and only selects lookup order; an unknown or
        incorrect hint is ignored and cannot prevent lookup of another supported type.
        Access-token revocation records the jti for online state; refresh-token
        revocation revokes the complete family and linked OAuth session.
      security:
        - clientSecretBasic: []
        - {}
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/RevocationRequest'}
      responses:
        '200':
          description: Revocation request processed without token-existence disclosure
          headers:
            Cache-Control:
              required: true
              schema: {type: string, const: no-store}
        '400': {$ref: '#/components/responses/OAuthError'}
        '401': {$ref: '#/components/responses/OAuthInvalidClient'}
        '503': {$ref: '#/components/responses/OAuthUnavailable'}
  /oauth/introspect:
    post:
      operationId: oauthIntrospect
      summary: Introspect an RFC 9068 access token per RFC 7662
      description: >-
        Restricted to separately authorised credentials owned by one OAuth
        resource. Only an RFC 9068 Bearer access token whose exact aud equals
        the authenticated credential's resource may be disclosed as active.
        token_type_hint is advisory and ignored for active-disclosure decisions.
        Refresh tokens, audience mismatches and every unknown, inactive or
        non-disclosable token receive exactly active=false. Invalid caller
        credentials use 401.
      security:
        - introspectionClientBasic: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/IntrospectionRequest'}
      responses:
        '200':
          description: >-
            Active RFC 9068 Bearer access-token metadata, or exactly
            active=false for an unknown, inactive or non-disclosable token.
          headers:
            Cache-Control:
              required: true
              schema: {type: string, const: no-store}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/IntrospectionResponse'}
        '401': {$ref: '#/components/responses/OAuthInvalidClient'}
        '400': {$ref: '#/components/responses/OAuthError'}
        '503': {$ref: '#/components/responses/OAuthUnavailable'}
  /oauth/jwks:
    get:
      operationId: oauthJwks
      summary: Dedicated OAuth public signing-key set
      description: Separate from the unchanged legacy /v1/.well-known/jwks.json key material.
      responses:
        '200':
          description: OAuth verification keys, including overlap keys during rotation
          headers:
            Cache-Control:
              required: true
              schema: {type: string, const: 'public, max-age=300'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Jwks'}
components:
  securitySchemes:
    clientSecretBasic:
      type: http
      scheme: basic
      description: client_secret_basic for a registered confidential OAuth client.
    introspectionClientBasic:
      type: http
      scheme: basic
      description: >-
        client_secret_basic using a stable oauth_resource_credentials credential_id
        as username. The credential belongs to one OAuth resource; it is neither
        an OAuth client credential nor a legacy tool client credential.
      x-credential-owner: oauth_resource
      x-credential-model: oauth_resource_credentials
      x-active-audience-match: exact
      x-oauth-client-credential-reused: false
      x-legacy-tool-client-reused: false
  responses:
    OAuthError:
      description: Standard OAuth protocol error
      headers:
        Cache-Control:
          required: true
          schema: {type: string, const: no-store}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/OAuthError'}
    OAuthInvalidClient:
      description: Client authentication failed
      headers:
        WWW-Authenticate:
          required: true
          schema: {type: string, const: 'Basic realm="oauth"'}
        Cache-Control:
          required: true
          schema: {type: string, const: no-store}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/OAuthError'}
    OAuthUnavailable:
      description: OAuth dependency or bounded rate-limit capacity is temporarily unavailable
      headers:
        Cache-Control:
          required: true
          schema: {type: string, const: no-store}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/OAuthError'}
  schemas:
    AuthorizationServerMetadata:
      type: object
      required: [issuer, authorization_endpoint, token_endpoint, jwks_uri, revocation_endpoint, introspection_endpoint, response_types_supported, grant_types_supported, code_challenge_methods_supported, token_endpoint_auth_methods_supported, revocation_endpoint_auth_methods_supported, introspection_endpoint_auth_methods_supported, authorization_response_iss_parameter_supported]
      properties:
        issuer: {type: string, const: 'https://access-layer.unguess-internal.net'}
        authorization_endpoint: {type: string, const: 'https://access-layer.unguess-internal.net/oauth/authorize'}
        token_endpoint: {type: string, const: 'https://access-layer.unguess-internal.net/oauth/token'}
        jwks_uri: {type: string, const: 'https://access-layer.unguess-internal.net/oauth/jwks'}
        revocation_endpoint: {type: string, const: 'https://access-layer.unguess-internal.net/oauth/revoke'}
        introspection_endpoint: {type: string, const: 'https://access-layer.unguess-internal.net/oauth/introspect'}
        response_types_supported:
          type: array
          const: [code]
        grant_types_supported:
          type: array
          const: [authorization_code, refresh_token]
        code_challenge_methods_supported:
          type: array
          const: [S256]
        token_endpoint_auth_methods_supported:
          type: array
          const: [client_secret_basic, none]
        revocation_endpoint_auth_methods_supported:
          type: array
          const: [client_secret_basic, none]
        introspection_endpoint_auth_methods_supported:
          type: array
          const: [client_secret_basic]
        authorization_response_iss_parameter_supported: {type: boolean, const: true}
      additionalProperties: false
    ProtectedResourceMetadata:
      type: object
      required: [resource, authorization_servers, bearer_methods_supported]
      properties:
        resource: {type: string, format: uri}
        authorization_servers:
          type: array
          minItems: 1
          uniqueItems: true
          items: {type: string, format: uri}
        scopes_supported:
          type: array
          minItems: 1
          uniqueItems: true
          items: {$ref: '#/components/schemas/CapabilityScope'}
        bearer_methods_supported:
          type: array
          const: [header]
        resource_name: {type: string}
      additionalProperties: false
    AuthorizationCodeTokenRequest:
      type: object
      required: [grant_type, code, redirect_uri, client_id, code_verifier, resource]
      properties:
        grant_type: {type: string, const: authorization_code}
        code: {type: string, minLength: 1}
        redirect_uri: {type: string, format: uri}
        client_id: {type: string, minLength: 1}
        code_verifier: {type: string, pattern: '^[A-Za-z0-9._~-]{43,128}$'}
        resource: {type: string, format: uri, pattern: '^https://'}
      additionalProperties: false
    RefreshTokenRequest:
      type: object
      required: [grant_type, refresh_token, client_id, resource]
      properties:
        grant_type: {type: string, const: refresh_token}
        refresh_token: {type: string, minLength: 1}
        client_id: {type: string, minLength: 1}
        resource: {type: string, format: uri, pattern: '^https://'}
        scope:
          type: string
          pattern: '^[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}(?: [a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62})*$'
      additionalProperties: false
    TokenResponse:
      type: object
      required: [access_token, token_type, expires_in, scope, refresh_token]
      properties:
        access_token: {type: string, minLength: 1, description: RFC 9068 JWT with typ=at+jwt}
        token_type: {type: string, const: Bearer}
        expires_in: {type: integer, const: 900}
        refresh_token: {type: string, minLength: 1, description: Opaque rotating credential}
        scope:
          type: string
          pattern: '^[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}(?: [a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62})*$'
      additionalProperties: false
    RevocationRequest:
      type: object
      required: [token]
      properties:
        token: {type: string, minLength: 1}
        token_type_hint: {type: string, description: Advisory RFC 7009 lookup hint; unknown values are ignored.}
        client_id: {type: string, description: Required only for a registered public client using auth method none.}
      additionalProperties: false
    IntrospectionRequest:
      type: object
      required: [token]
      properties:
        token: {type: string, minLength: 1, description: Candidate RFC 9068 JWT access token.}
        token_type_hint: {type: string, description: Advisory RFC 7662 hint; it does not change P0 access-token-only disclosure.}
      additionalProperties: false
    IntrospectionResponse:
      oneOf:
        - type: object
          description: Exact response for unknown, inactive, refresh or otherwise non-disclosable tokens.
          required: [active]
          properties:
            active: {const: false}
          additionalProperties: false
        - type: object
          description: Metadata for an RFC 9068 Bearer access token whose exact aud equals the authenticated resource credential's resource.
          required: [active, iss, sub, aud, client_id, scope, exp, iat, jti, token_type]
          properties:
            active: {const: true}
            iss: {type: string, format: uri}
            sub: {type: string, minLength: 1}
            aud: {type: string, format: uri}
            client_id: {type: string, minLength: 1}
            scope:
              type: string
              pattern: '^[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}(?: [a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62})*$'
            exp: {type: integer, minimum: 1}
            iat: {type: integer, minimum: 0}
            nbf: {type: integer, minimum: 0}
            jti: {type: string, minLength: 8}
            sid: {type: string}
            token_type: {type: string, const: Bearer}
          additionalProperties: false
    OAuthError:
      type: object
      required: [error]
      properties:
        error:
          enum: [invalid_request, invalid_client, invalid_grant, unauthorized_client, unsupported_grant_type, invalid_scope, invalid_target, access_denied, unsupported_response_type, unsupported_token_type, server_error, temporarily_unavailable]
        error_description: {type: string}
        error_uri: {type: string, format: uri}
        correlation_id: {type: string, minLength: 8}
      additionalProperties: false
    CapabilityScope:
      type: string
      pattern: '^[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}:[a-z][a-z0-9-]{1,62}$'
    Jwks:
      type: object
      required: [keys]
      properties:
        keys:
          type: array
          minItems: 1
          items:
            type: object
            required: [kty, kid, use, alg, n, e]
            properties:
              kty: {type: string, const: RSA}
              kid: {type: string, minLength: 1}
              use: {type: string, const: sig}
              alg: {type: string, const: RS256}
              n:
                type: string
                minLength: 342
                pattern: '^(?:[A-Za-z0-9_-]{4})*(?:[A-Za-z0-9_-]{2,3})?$'
                description: >-
                  RSA modulus encoded as an unpadded Base64urlUInt. Runtime publication
                  validation requires the minimum-octet representation, a positive value,
                  and a bit length of at least 2048 for RS256.
              e:
                type: string
                minLength: 2
                pattern: '^(?:[A-Za-z0-9_-]{4})*(?:[A-Za-z0-9_-]{2,3})?$'
                description: >-
                  RSA exponent encoded as an unpadded Base64urlUInt. Runtime publication
                  validation requires the minimum-octet representation, an odd integer
                  greater than or equal to 3, and a value less than n.
            additionalProperties: true
      additionalProperties: false
