openapi: 3.1.0
info:
  title: Access Layer OAuth/OIDC target contract
  version: 1.0.0-target
  description: >-
    Proposal B target profile. This is an implementation contract for the
    central Access Layer, not proof that the endpoints are deployed.
servers:
  - url: https://access-layer.unguess-internal.net
paths:
  /.well-known/oauth-authorization-server:
    get:
      summary: OAuth authorization-server metadata
      responses:
        '200':
          description: Metadata
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AuthorizationServerMetadata'}
  /.well-known/openid-configuration:
    get:
      summary: OpenID Provider metadata when OIDC is enabled
      responses:
        '200': {description: OIDC metadata}
  /oauth/authorize:
    get:
      summary: Authorize a client using Authorization Code with PKCE
      parameters:
        - {in: query, name: response_type, required: true, schema: {type: string, const: code}}
        - {in: query, name: client_id, required: true, schema: {type: string}}
        - {in: query, name: redirect_uri, required: true, schema: {type: string, format: uri}}
        - {in: query, name: scope, required: true, schema: {type: string}}
        - {in: query, name: state, required: true, schema: {type: string}}
        - {in: query, name: code_challenge, required: true, schema: {type: string}}
        - {in: query, name: code_challenge_method, required: true, schema: {type: string, const: S256}}
        - {in: query, name: resource, required: true, schema: {type: string, format: uri}}
        - {in: query, name: nonce, required: false, schema: {type: string}}
      responses:
        '302': {description: Redirect with authorization code and issuer or OAuth error}
  /oauth/token:
    post:
      summary: Issue or rotate tokens
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - {$ref: '#/components/schemas/AuthorizationCodeTokenRequest'}
                - {$ref: '#/components/schemas/RefreshTokenRequest'}
                - {$ref: '#/components/schemas/ClientCredentialsRequest'}
                - {$ref: '#/components/schemas/TokenExchangeRequest'}
      responses:
        '200':
          description: OAuth token response
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TokenResponse'}
        '400':
          description: OAuth error
          content:
            application/json:
              schema: {$ref: '#/components/schemas/OAuthError'}
        '401':
          description: Client authentication failed
          content:
            application/json:
              schema: {$ref: '#/components/schemas/OAuthError'}
  /oauth/revoke:
    post:
      summary: Revoke a token or token family according to policy
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token: {type: string}
                token_type_hint: {type: string}
      responses:
        '200': {description: Revocation request processed}
  /oauth/introspect:
    post:
      summary: Introspect a token for an authorised resource server
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token: {type: string}
                token_type_hint: {type: string}
      responses:
        '200':
          description: Token activity record
          content:
            application/json:
              schema: {$ref: '#/components/schemas/IntrospectionResponse'}
  /oauth/jwks:
    get:
      summary: OAuth/OIDC signing keys
      responses:
        '200': {description: JWKS}
  /oauth/userinfo:
    get:
      summary: OIDC UserInfo when enabled
      security: [{oauthBearer: []}]
      responses:
        '200': {description: Standard minimised user claims}
components:
  securitySchemes:
    oauthBearer: {type: http, scheme: bearer, bearerFormat: JWT access token}
  schemas:
    AuthorizationServerMetadata:
      type: object
      required: [issuer, authorization_endpoint, token_endpoint, jwks_uri, response_types_supported, grant_types_supported, code_challenge_methods_supported]
      properties:
        issuer: {type: string, format: uri}
        authorization_endpoint: {type: string, format: uri}
        token_endpoint: {type: string, format: uri}
        jwks_uri: {type: string, format: uri}
        revocation_endpoint: {type: string, format: uri}
        introspection_endpoint: {type: string, format: uri}
        response_types_supported: {type: array, items: {type: string}}
        grant_types_supported: {type: array, items: {type: string}}
        code_challenge_methods_supported: {type: array, contains: {const: S256}}
    AuthorizationCodeTokenRequest:
      type: object
      required: [grant_type, code, redirect_uri, client_id, code_verifier, resource]
      properties:
        grant_type: {const: authorization_code}
        code: {type: string}
        redirect_uri: {type: string, format: uri}
        client_id: {type: string}
        code_verifier: {type: string}
        resource: {type: string, format: uri}
    RefreshTokenRequest:
      type: object
      required: [grant_type, refresh_token, client_id, resource]
      properties:
        grant_type: {const: refresh_token}
        refresh_token: {type: string}
        client_id: {type: string}
        resource: {type: string, format: uri}
        scope: {type: string}
    ClientCredentialsRequest:
      type: object
      required: [grant_type, resource]
      properties:
        grant_type: {const: client_credentials}
        resource: {type: string, format: uri}
        scope: {type: string}
    TokenExchangeRequest:
      type: object
      required: [grant_type, subject_token, subject_token_type, resource]
      properties:
        grant_type: {const: 'urn:ietf:params:oauth:grant-type:token-exchange'}
        subject_token: {type: string}
        subject_token_type: {type: string}
        resource: {type: string, format: uri}
        scope: {type: string}
    TokenResponse:
      type: object
      required: [access_token, token_type, expires_in, scope]
      properties:
        access_token: {type: string}
        token_type: {type: string, const: Bearer}
        expires_in: {type: integer}
        refresh_token: {type: string}
        scope: {type: string}
        id_token: {type: string}
        issued_token_type: {type: string}
    IntrospectionResponse:
      type: object
      required: [active]
      properties:
        active: {type: boolean}
        client_id: {type: string}
        sub: {type: string}
        scope: {type: string}
        aud: {type: string}
        iss: {type: string}
        exp: {type: integer}
        token_type: {type: string}
    OAuthError:
      type: object
      required: [error]
      properties:
        error: {type: string}
        error_description: {type: string}
        error_uri: {type: string, format: uri}
        correlation_id: {type: string}
